@font-face{
    font-family: 'Inter Variable';
    src: url(/Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.body-background{
    
}

.flex-container{
    display: flex;
}

.fluid-container{
    display: fluid;
}

.justify-content{
    display: flex;
    justify-content: center;
}

/* Font sizes Start */

.size36{
    font-size: 36px;
}

.weight600{
    font-weight: 600;
}

/* Font sizes End */

.containerHead{
    font-family: 'Inter Variable', 'sans-serif';
    color: white;
    text-align: center;
    max-width: 100%;
    height: 83px;
    background-color: #AA0000;
    align-content: center;
}

.containerNav{
    font-family: 'Inter Variable', 'sans-serif';
    color: white;
    text-align: center;
    max-width: 100%;
    height: 34px;
    background-color: #823F00;
    align-content: center;
}
