@font-face{
    font-family: 'Inter Variable';
    src: url(/Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.body-background{
    background-image: url('../assets/bamboo.webp');
    background-size: cover;
}

.flex-container{
    display: flex;
}

.fluid-container{
    display: fluid;
}

.justify-content{
    display: flex;
    justify-content: center;
}

/* Font sizes Start */

.size20{
    font-size: 20px;
}

.size36{
    font-size: 36px;
}

.weight600{
    font-weight: 600;
}

/* Font sizes End */

.containerHead{
    font-family: 'Inter Variable', 'sans-serif';
    color: white;
    text-align: center;
    max-width: 100%;
    background-color: #AA0000;
    align-content: center;
}

.containerNav{
    font-family: 'Inter Variable', 'sans-serif';
    color: white;
    text-align: center;
    max-width: 100%;
    background-color: #823F00;
    align-content: center;
}
.delivainer{
    position: absolute;
    top: 10px;
    right: 75px;
    width: 258px;
    height: 54px;
    color: white;
}

.specials-container{
    background-color: #00000090; 
    inline-size: 95%;
}

.specials-images{

    height: 280px;
    width: 70%;
    overflow: hidden;
    padding-inline: 20px;
}

.specials-images img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: white
}

h4, h5, p {
    color: white;
}

.footer-text p {
    margin: 0px;
}

.footer {
    background-color: #823F00;
    position:fixed;
    bottom:0;
}